@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "primereact/resources/themes/lara-light-blue/theme.css";*/
/*@import "primereact/resources/primereact.min.css";*/
/*@import "primeicons/primeicons.css";*/

/* Sidebar styles */
aside {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.p-toast-success {
  border-left: 5px solid #28a745;
  /* Franja verde */
  padding-left: 1rem;
  /* Ajustar el espacio entre la franja y el contenido */
}

/* Estilos toast  */
.custom-toast .p-toast-message {
  text-align: left;
  border-color: #28a745;
  border-left-width: 5px;
  /* Alinear el texto a la izquierda */
}

/* Estilos fondo archivo products*/
.p-dialog-mask {
  background: rgba(0, 0, 0, 0.4);
  /* Fondo negro con opacidad del 40% */
}

.custom-dialog .p-dialog{
  border-radius: 8px;
  /* Opcional: bordes redondeados para el Dialog */
}