@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "primereact/resources/themes/lara-light-blue/theme.css";*/
/*@import "primereact/resources/primereact.min.css";*/
/*@import "primeicons/primeicons.css";*/
html {
  scroll-behavior: smooth;
}

/* Sidebar styles */
aside {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* Estilos del checkbox del checkout*/
.p-checkbox-input, .p-checkbox{
  border: 1px solid rgb(117, 116, 116);
  border-radius: 7px;
  height: 24px;
  width: 24px;
}

.p-toast-success {
  border-left: 5px solid #28a745;
  /* Franja verde */
  padding-left: 1rem;
  /* Ajustar el espacio entre la franja y el contenido */
}

/* Estilos toast  */
.custom-toast .p-toast-message {
  text-align: left;
  border-color: #28a745;
  border-left-width: 5px;
  /* Alinear el texto a la izquierda */
}

/* Estilos fondo archivo products*/
.p-dialog-mask {
  background: rgba(0, 0, 0, 0.4);
  /* Fondo negro con opacidad del 40% */
}

.custom-dialog .p-dialog {
  border-radius: 8px;
  /* Opcional: bordes redondeados para el Dialog */
}

.breadcrumb-active {
  font-weight: bold;
}

.p-menuitem-icon {
  color: #de1c85;
  /* Color del texto */
  transition: color 0.3s ease;
}

.p-panelmenu-header-content{
  background-color: transparent;
}


.p-steps-title{
  margin-right: 15px;
}

.uppercase {
  text-transform: uppercase;
}

/* Estilos OTPVerification para el input*/
.p-inputotp-input {
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-size: 1.5rem !important;
  border: 1px solid #929191 !important;
  border-radius: 0.5rem !important;
  background: #fff !important;
  color: #0b4468 !important;
  margin: 0 0.3rem !important;
}
