@tailwind base;
@tailwind components;
@tailwind utilities;

.general-input {
    border: 1px solid #a7a7a7;
    height: 7vh;
    border-radius: 10px;
}

.general-dropdown {
    border: 1px solid #a7a7a7;
    height: 7vh;
    border-radius: 10px;
}

.general-checkbox{
    border: 1px solid #a7a7a7;
}